In [1]:
# Date events data ETL
## Extract, clean and upload date events data to sales DB in SQL

In [2]:
import sys
sys.path.append('/Users/ronakasher/Deepa/multinational_retail_data_centralisation')

In [3]:
from source_code.database_utils import DatabaseConnector
from source_code.data_extraction import DataExtractor
from source_code.data_cleaning import DataCleaning
import pandas as pd

## Extract data from json file

In [4]:
extractor = DataExtractor()
path = 'https://data-handling-public.s3.eu-west-1.amazonaws.com/date_details.json'
date_events_data = extractor.extract_from_json(path)
date_events_data.sample(20)

,timestamp,month,year,day,time_period,date_uuid
96726,00:00:31,11,2018,14,Late_Hours,2efbe460-3e77-4311-b87e-458171822f90
46655,20:19:16,12,1999,9,Evening,2071623d-0ee2-4f33-810b-167788b71828
118040,21:38:11,10,2020,30,Evening,352a28da-ae92-49a7-8581-4f2336008cee
59480,18:05:00,1,1994,7,Evening,9ecb54ba-316f-4db9-ad75-19b2ef797745
85537,19:38:12,3,2017,25,Evening,160c23c2-81c5-4914-a12a-e4d0486c9315
13108,22:26:16,2,2011,17,Evening,4ad1b4cf-2f16-4489-801c-39e3c10f51e9
100011,14:59:33,2,2016,3,Midday,bf4af5ed-890b-4818-b3bd-dd91f7daf00a
79424,18:57:00,9,1997,30,Evening,370168f1-d54c-4e05-a1e1-bd904ed86f2a
77841,19:45:14,3,2012,9,Evening,0adec4fa-533a-4715-85be-1c197fe7d518
111744,15:42:35,10,2003,17,Midday,f8b12e46-cc73-41e6-9d14-edc7035da6dc
104590,23:02:24,1,2003,21,Evening,b060535b-4941-4e2d-94a4-1503d4bb1fb0
1585,19:02:15,11,1996,21,Evening,17147c44-cc57-4487-abf0-e37f59c382f9
95344,05:26:19,5,2017,28,Late_Hours,33b50811-db0a-4b75-b348-c7a7462ab709
60586,09:05:47,11,2019,19,Morning,42d4cfa0-837e-4932-9e34-ae94c2b111a8
5502,18:04:43,8,2004,11,Evening,93155e11-9684-4828-a617-b700cb9f5c14
67020,21:01:14,10,2013,31,Evening,5ff840ba-7fb9-45be-b5e5-69b19b8166b1
35616,20:18:00,12,2009,11,Evening,8afbcccd-ec34-4b3d-bd16-130fc7ceb930
119612,22:21:34,3,1999,28,Evening,2bef84b3-f0bc-40dc-94e8-f43ddb713dc2
77640,21:55:27,4,2002,10,Evening,47c70d15-bb78-4cec-91a8-fe62bdc8efe6
66838,20:49:47,12,2006,20,Evening,91ca4a16-0ca9-418b-8ead-9adfcc669aa7

## Clean date events data using DataCleaning class in source code

In [5]:
#Clean date events data
clean_date_events_data = DataCleaning().clean_date_events_data(date_events_data)

In [6]:
#Remove Null rows in cleaned data
clean_date_events_data.dropna(how='all')
clean_date_events_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120147 entries, 0 to 120160
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   timestamp    120123 non-null  object
 1   month        120123 non-null  string
 2   year         120123 non-null  string
 3   day          120123 non-null  string
 4   time_period  120147 non-null  object
 5   date_uuid    120123 non-null  object
dtypes: object(3), string(3)
memory usage: 6.4+ MB

## Upload date events data to sales DB in SQL

In [7]:
#Upload to sales_data DB (SQL)
upload = DatabaseConnector('../db_creds.yaml')
upload.upload_to_db(clean_date_events_data,'dim_date_times')

147